<!DOCTYPE html>
<html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118991662-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118991662-1');
  </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>THP Landing Page Team Lyon</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/stylesheets/application.css">

</head>

<body>

	<header>
		<h2><a href="https://www.thehackingproject.org/"> <%=image_tag("logo.png", alt: "Logo thehackingproject")%></a></h2>
		<nav>
			<li><a href="https://www.thehackingproject.org/catalogue">Sessions</a></li>
			<li><a href="https://www.thehackingproject.org/about">Histoire</a></li>
			<li><a href="https://www.thehackingproject.org/contact">Contact</a></li>

		</nav>
	</header>


	<section class="hero">
		<div class="background-image" style="background-image: url( <%= asset_path 'pirate.jpg' %>);"></div>
		<h1>Événement à Lyon </h1>
		<h3>Vous voulez apprendre à coder et vous êtes de la région de Lyon ?</h3>
    <a href="https://www.facebook.com/events/219799425447838/" class="btn">Inscription Gratuite</a>
	</section>


	<section class="our-work">
		<h3 class="title">En savoir plus</h3>
		<p>Préparez-vous à vivre une expèrience extraordinaire aux antipodes de tout ce que vous connaissez</p>
		<hr>

		<ul class="grid">
			<li class="small" style="background-image: url( <%= asset_path 'geek.jpg' %>);"></li>
			<li class="large" style="background-image: url( <%= asset_path 'island.jpg' %>);"></li>
			<li class="large" style="background-image: url( <%= asset_path 'matrix.jpg' %>);"></li>
			<li class="small" style="background-image: url( <%= asset_path 'ruby.jpg' %>);"></li>
		</div>
	</section>



	<section class="features">
		<h3 class="title">Informations</h3>
		<hr>

		<ul class="grid">
			<li>
				<i class="fa fa-camera-retro"></i>
        <a href="https://www.facebook.com/pg/thehackingproject/photos/?ref=page_internal"> <h4> Album Photos</h4> </a>
				<p>Une image vaut 10 000 mots: ici les photos de nos sessions et séminaires Code et Sales.</p>
			</li>
			<li>
				<i class="fa fa-cubes"></i>
				<h4>Web Development</h4>
				<p>Devenez le Da Vinci du code</p>
			</li>
			<li>
				<i class="fa fa-newspaper-o"></i>
        <a href="https://medium.com/@bacha_57963/boîte-à-outils-du-développeur-moussaillon-d077b8730bc0"> <h4> Articles de moussaillons</h4> </a>

        				<p>Retrouvez nous sur Medium afin de partager sur la communauté et les sessions Code et Sales.</p>
			</li>
		</div>
	</section>


	<section class="reviews">
		<h3 class="title">Ils parlent de nous:</h3>

		<p class="quote">J'ai utilisé leur service pour SpaceX, ça a marché nickel</p>
		<p class="author">— Ellon Musk</p>

		<p class="quote">Ça troue le cul !</p>
		<p class="author">— Bill Gates</p>

		<p class="quote">J'ai investit tout ce que j'avais dans leur startup</p>
		<p class="author">— Warren Buffet</p>


	</section>


	<section class="contact">
		<h3 class="title">Inscrivez-vous à notre newsletter </h3>
		<p>Gagnez 1 million$ dés la première semaine</p>
		<hr>

    <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://herokuapp.us18.list-manage.com/subscribe/post?u=793b0b3f184a00ad820568953&amp;id=0804259f66" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Balance ton mail là-dessous</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="ICI !" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_793b0b3f184a00ad820568953_0804259f66" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Je veux devenir riche" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
	</section>

	<footer>
		<ul>
			<li><a href="https://www.facebook.com/thehackingproject/"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="https://www.facebook.com/thehackingproject/"><i class="fa fa-facebook-square"></i></a></li>
			<li><a href="https://www.facebook.com/thehackingproject/"><i class="fa fa-snapchat-square"></i></a></li>
			<li><a href="https://www.facebook.com/thehackingproject/"><i class="fa fa-pinterest-square"></i></a></li>
			<li><a href="https://github.com/thehackingproject"><i class="fa fa-github-square""></i></a></li>
		</ul>
		<p>Made by <a href="http://tutorialzine.com/" target="_blank">tutorialzine</a>. images courtesy to <a href="http://unsplash.com/" target="_blank">unsplash</a>.</p>
		<p>© 2018, Made with ❤️ in Lyon</p>
	</footer>

</body>

</html>
